<div class="footer">
  <!-- Social links -->
  <div class="footer-socials">
    <a href="https://www.instagram.com/finenailslondon/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/LondonFineNails" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
<!-- links to other pages on website -->
  <div class="footer-links">
    <div class="row">

      <div class="footer-links-container col-12 col-sm-6 col-md-4">
        <p>FineNailsLondon</p>
        <ul>
          <li><%= link_to 'About us', about_path %></li>
        </ul>
      </div>
      <div class="footer-links-container col-12 col-sm-6 col-md-4">
        <p>Service & Shopping</p>
        <ul>
          <li><%= link_to 'Our Products', products_path %></li>
          <!-- <li>Payment</li>
          <li>Shipping</li>
          <li>Returns</li>
   -->      </ul>
      </div>
      <div class="footer-links-container col-12 col-sm-6 col-md-4">
        <p>Contact & Help</p>
        <ul>
          <!-- <li>Customer Support</li> -->
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'FAQs', faq_path %></li>
          <li><%= link_to 'Legal Disclosure', legal_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
