<h1>Admin Dashboard</h1>

<%= link_to 'Add new category', new_category_path, class: "btn btn-gold" %>

<h2>All Categories</h2>
<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<%= link_to 'Add new product', new_product_path, class: "btn btn-gold" %>

<h2>All Products</h2>
<ul>
  <% @products.each do |product| %>
    <li>
    <%= link_to product.name, product_path(product) %>
      <%= link_to edit_product_path(product) do %>
        <i class="fas fa-pen"></i>
      <% end %>
      <%= link_to product_path(product), method: :delete do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>
