<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= image_tag 'nails_pink.jpg', width: '100%' %></div>
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Your Order for <strong><%= @order.amount %></strong></p>
      <ul>
        <% @order.order_products.each do |o_product| %>
          <li>
            <%= o_product.quantity %> x <%= o_product.product.name %> (<%= o_product.quantity * o_product.product.price %>€)
          </li>
        <% end %>
      </ul>
      <button id="pay" class="btn btn-gold">Pay now!</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
