<div class="container py-5" id="products">
  <h2>Nail Colours- find your perfect nail colour</h2>
  <div class="products">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do  %>
        <div class="card-product">
          <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos">
            <div>
              <h2><%= product.name %></h2>
              <p>Color: <%= product.color.name if product.color %></p>
            </div>
            <h2 class="card-product-pricing"><%= number_to_currency(product.price, locale: :de) %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
