<div class="container">
  <!-- Product Section -->
  <div class="product-container row justify-content-center">
    <div class="col-12 col-sm-6 col-lg-4 product-image">
      <%= cl_image_tag @product.photo.key, crop: :fill %>
    </div>

    <div class="product-description-container col-12 col-sm-6 col-lg-4">
      <p class="mb-0 url-path"><a href=<%= root_path %>>Home</a> > <a href=<%= products_path %>>Shop</a> > <%= @product.name %></p>
      <h1><%= @product.name %></h1>
      <p class="product-pricetag"><%= number_to_currency(@product.price, locale: :de)%></p>
      <p><%= @product.category.name %> / <%= @product.size %></p>
      <p><%= @product.description %></p>
      <p class="mb-0">Colors:</p>
      <div class="product-color-container">
        <a class="color-link">
          <div class="product-color" style="background-color: <%= @product.color.color_code%>">
          </div>
          <p class="color-name"><%= @product.color.name %></p>
        </a>
      </div>
      <!-- shopping bag button is user signed in -->
      <% if user_signed_in? %>
        <% if ShoppingBagProduct.where(product_id: @product.id, shopping_bag_id: current_user.shopping_bag.id).exists? %>
          <p>This product is already in your shopping bag. <%= link_to 'See shopping bag', shopping_bag_path(current_user.shopping_bag) %></p>
        <% else %>
          <%= link_to product_shopping_bag_products_path(@product), method: :post do %>
            <p class="btn btn-gold w-100">Add to Shopping Bag <i class="fas fa-shopping-bag"></i></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Recommended Products Section -->
  <h1>Recommended Products</h1>
  <div class="products row justify-content-start">
    <% @recommended_products.each do |product| %>
      <%= link_to product_path(product), class:"col-12 col-sm-6 col-md-4 col-lg-3" do  %>
        <div class="card-product">
          <%= cl_image_tag product.photo.key, height: 500, crop: :fill %>
          <div class="card-product-hover">
            <div class="product-color-small" style="background-color: <%= product.color.color_code%>"></div>
          </div>
          <div class="card-product-infos">
            <div>
              <h2><%= product.name %></h2>
              <p class="font-100"><%= product.category.name %></p>
            </div>
            <h2 class="card-product-pricing"><%= number_to_currency(product.price, locale: :de) %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

