<div class="container">

  <!-- Product Section -->
  <div class="product-container">
    <%= cl_image_tag @product.photo.key, height: 500, width: 350, crop: :fill %>
    <div class="product-description-container">
      <h1><%= @product.name %></h1>
      <p>Color: <%= @product.color %> / <%= @product.size %></p>
      <p>product description goes here</p>
      <p class="btn btn-gold" id="price-button"><%= @product.price %>€</p>

      <% if user_signed_in? %>
        <% if current_user.shopping_bag.nil? %>
          <%= link_to product_shopping_bag_products_path(@product), method: :post do %>
            <p class="btn btn-gold">Add to Shopping Bag</p>
          <% end %>
        <% elsif current_user.shopping_bag.shopping_bag_products.include?(ShoppingBagProduct.where(product_id: @product.id)[0]) %>
          <p>This product is already in your shopping bag. <%= link_to 'See shopping bag', shopping_bag_path(current_user.shopping_bag) %></p>
        <% else %>
          <%= link_to product_shopping_bag_products_path(@product), method: :post do %>
            <p class="btn btn-gold">Add to Shopping Bag</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Recommended Products Section -->
  <h1>Recommended Products</h1>
  <div class="recommendations-container mb-5">
    <div class="products">
      <% @recommended_products.each do |product| %>
        <%= link_to product_path(product) do  %>
          <div class="card-product">
            <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
            <div class="card-product-infos">
              <div>
                <h2><%= product.name %></h2>
                <p>Color: <%= product.color %></p>
              </div>
              <h2 class="card-product-pricing"><%= product.price.round(2) %>€</h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

